<!DOCTYPE html>
<html>
<head>
    <title>View Todo</title>
</head>
<body>
    <h1>Todo Details</h1>
    <p><strong>Title:</strong> <%= todo.title %></p>
    <p><strong>Type:</strong> <%= todo.type %></p>

    <a href="/">Back</a>
</body>
</html>
